.main-wrap
    padding: 30px 35px 40px 40px
    background: #e8e7ff
    width: 245px
    .logo
        text-align: center
        margin-bottom: 80px
    .list-item
        margin-bottom: 20px
        .list-item-row
            display: flex
            position: relative
            align-items: center
            cursor: pointer
            .icon
                width: 20px
                margin-right: 20px
            .lable-wrap
                color: #211f49
                font-weight: 500
            .caret
                position: absolute
                right: 0
        .dropdawn-list
            .dropdawn-list-item
                color: #211f49
                font-weight: 500
                margin-bottom: 12px
                padding-left: 75px
                font-size: 15px
                margin-top: 12px
                cursor: pointer
.active-tab
    color: #8680ff !important
.hide
    display: none !important